# Virtual environments
venv/
venv311/
backend/venv/

# Python
__pycache__/
*.pyc

# Uploads
backend/uploads/

# Local model cache (downloaded at runtime)
backend/model/

# Zip files
*.zip

# VS Code
.vscode/

# Environment variables
.env

# Audio files
*.mp3
*.wav
*.m4a

# Whisper cache
.cache/

# Model cache
*.pt
